<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="navbar">
            <nav class="navbar navbar-findcond navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Forum</a>
                    </div>
                    
                </div>
            </nav>
        </div>
        <div class="container">
            <div id="blog" class="row">
                <div class="col-md-10">
                    <hr>
                    <div class="well">
        
                        <form enctype="multipart/form-data"  method="POST">
                            <div class="form-group">
                                <h4>Title:</h4>
                                <textarea class="myArea" maxlength="50" name="titleB" wrap="off"></textarea>
                                <h4>Author:</h4>
                                <textarea class="myArea" maxlength="50" name="authorB" wrap="off"></textarea>
                                <h4>Genre:</h4>
                                <textarea class="myArea" maxlength="50" name="genreB" wrap="off"></textarea>
                                <h4>Description:</h4>
                                <input type="file" name="myFile"/>
                                <textarea class="myArea1" name="descriptionB" maxlength="2000" rows="3"></textarea>
                                
                            </div>
                      
                        
                            <button type="submit" name="say" value="" class="btn btn-primary"><i class="fa fa-reply"></i>Submit</button>
                        </form>
                    </div>
                    
                    <hr>
        
                </div>
        
        
        
            </div>
        
            </div>
            </div>
            </div>
            
        </div>
       
    
</body>

</html>